
<h1>Post has been reported</h1>
<p>If we find that the post violates our community guidelines,it will be taken down. Thank you for helping us keep our community safe.
</p>
<a href="/dashboard" class="btn">Go to Dashboard</a>